# Values should be 0, unless reasons given
variables:
  ALLOWED_WARNINGS: 0
  ALLOWED_NOTES: 2 # data + file
  NO_IMPORTS: 0
  #disable_verify_r_package: "false"
  #DRAT_PUBLISH: "true"

# Common components, such as stages, pages, default image, mkdocs, pm-check
include:
  - project: jumpingrivers/products/rdev/r-package
    ref: $JR_CI_TEMPLATES_DEFAULT_BRANCH
    file: /.ci/main.yml
    rules:
      - if: $CI_PROJECT_PATH != "jumpingrivers/products/rdev/r-package"
  - local: /.ci/main.yml
    rules:
      - if: $CI_PROJECT_PATH == "jumpingrivers/products/rdev/r-package"
